<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
/>
<style>
    html,
    body {
        font-family: "Noto Serif", serif !important;
    }

    .main {
        font-family: "Noto Serif", serif !important;
    }

    .post-single,
    .post-content,
    .entry-content,
    .post-title,
    .page-header,
    .post-description,
    article {
        font-family: "Noto Serif", serif !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .post-title,
    .post-header h1,
    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4 {
        font-family: "Noto Serif", serif !important;
    }
</style>
